.header{
    text-align:center;
}
.header nav{
    margin-top:50px;
    background-color: black;
    line-height:40px;
}
nav a{
    text-decoration:none;
    color: #ffff;
    font-weight: 400;
    margin:20px;
    padding: 10px;

}
nav a:hover{
    background-color:gainsboro;
}